@using WebApplication2.Models;
@model Contact

<div class="container">
    <h1 class="text-danger mt-3 text-center">Add Contact Detail</h1>

    <div class="mt-4">
        <form asp-controller="Admin" asp-action="AddOrUpdateContact" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label class="form-label" asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="BranchId">Select Branch</label>
                <select class="form-select" asp-items="ViewBag.Branches" asp-for="BranchId">
                </select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>

            <div class=" mb-3">
                <label class="form-label" asp-for="AddressDetails">Address Details</label>
                <textarea type="text" class="form-control" asp-for="AddressDetails" rows="3"></textarea>
                <span asp-validation-for="AddressDetails" class="text-danger"></span>
            </div>

            <div class=" mb-3">
                <label class="form-label" asp-for="HospitalEmail">Hospital Email</label>
                <input type="email" class="form-control" asp-for="HospitalEmail" />
                <span asp-validation-for="HospitalEmail" class="text-danger"></span>
            </div>

            <div class=" mb-3">
                <label class="form-label" asp-for="HospitalFaxNumber">HospitalFaxNumber</label>
                <input type="tel" class="form-control" asp-for="HospitalFaxNumber" />
                <span asp-validation-for="HospitalFaxNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="HospitalTelephone">HospitalTelephone</label>
                <input type="tel" class="form-control" asp-for="HospitalTelephone" />
                <span asp-validation-for="HospitalTelephone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="HospitalMapCode">Hospital Google Map Code</label>
                <textarea type="text" class="form-control" asp-for="HospitalMapCode" rows="3"></textarea>
                <span asp-validation-for="HospitalMapCode" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-block btn-danger">Submit</button>
        </form>
    </div>

</div>