@using WebApplication2.Models;
@model Service

<div class="container">
    <h1 class="text-danger mt-3 text-center">Service</h1>

    <div class="mt-4">
        <form asp-controller="Admin" asp-action="AddOrUpdateService" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Service Name</label>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
              <div class="mb-3">
                <label class="form-label" asp-for="ImageUrl">Upload Service Image</label>
                <input type="file" class="form-control" asp-for="ImageUrl" name="serviceImage" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>

            </div>
              <div class="mb-3">
                <label class="form-label" asp-for="Description">Description</label>
                <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-block btn-danger">Submit</button>
        </form>
    </div>

</div>
