<div class="container-fluid Login__container " bis_skin_checked="1">
    <div class="row justify-content-center align-items-center login__main" bis_skin_checked="1">
        <!--!--><div class="d-flex justify-content-center align-items-center pb-4" bis_skin_checked="1"><img src="assets/images/logowithtext.svg" alt="Image" class="img-fluid login__logoImg"></div>
        <div class="login_form p-5" style="width:490px" bis_skin_checked="1">
            <!--!--><div class="justify-content-center d-flex pb-3" bis_skin_checked="1"><h2 class="color-default fw-bold">Login</h2></div>

            <!--!--><!--!-->
            <!--!--><form>
                <!--!--><!--!--><!--!--><div class="mt-0 mb-1 " style="width:420px" b-smr5an8czg="" bis_skin_checked="1"><div class="form-group position-relative" b-smr5an8czg="" bis_skin_checked="1"><label for="ClientID" class="form-label default-fontcolor" b-smr5an8czg=""><!--!-->Client ID*</label><input type="Text" autocomplete="off" class="form-control  valid " id="ClientID" onkeypress="return true" b-smr5an8czg=""><!--!--></div></div><!--!--><div class="mt-0 mb-1 " style="width:420px" b-smr5an8czg="" bis_skin_checked="1"><div class="form-group position-relative" b-smr5an8czg="" bis_skin_checked="1"><label for="Username" class="form-label default-fontcolor" b-smr5an8czg=""><!--!-->Username*</label><input type="Text" autocomplete="off" class="form-control  valid " id="Username" onkeypress="return true" b-smr5an8czg=""><!--!--></div></div><!--!-->
                <!--!--><div class="mt-0 mb-1 " style="width:420px" b-smr5an8czg="" bis_skin_checked="1">
                    <div class="form-group position-relative" b-smr5an8czg="" bis_skin_checked="1">
                        <label for="Password" class="form-label default-fontcolor" b-smr5an8czg=""><!--!-->Password*</label><i class="fa-regular fa-eye-slash togglePassword" b-smr5an8czg=""></i><!--!-->
                        <input type="password" class="form-control  valid " id="Password" autocomplete="off" b-smr5an8czg=""><!--!-->
                    </div>
                </div><!--!-->

                <div class="d-flex justify-content-end" bis_skin_checked="1"><div class="mt-2" bis_skin_checked="1"><!--!--><p class="color-default text-decoration-none cursor-pointer mb-0">Forget Password?</p></div></div><!--!-->

                <div class="d-flex justify-content-between align-items-center" bis_skin_checked="1">
                    <div bis_skin_checked="1">
                        <label>
                            <input type="checkbox" name="remember" id="rememberMe" autocomplete="off"><!--!-->
                            Remember me
                        </label>
                    </div><!--!-->
                    <!--!--><div class="my-2" bis_skin_checked="1"><button type="submit" class="btn login__btn text-white fw-bold">Login</button></div>
                </div>
            </form>
        </div>
    </div><!--!-->
    <!--!--><footer class="footer mt-auto py-2"><div class="container-fluid text-right" bis_skin_checked="1"><img src="assets/images/logo-bg.svg" alt="Image" class="img-fluid login__bgImg"></div></footer>
</div>