@using WebApplication2.Models;
@model User;
@{
    ViewData["Title"] = "Login";
}
@{
    //Layout = _Account_Login;
}
<div class="container-fluid login-container">
    <div class="row justify-content-center align-items-center pt-2">
        <div class="d-flex justify-content-center align-items-center">
            <img src="~/assets/img/logo.png" loading="lazy" class="img-fluid" />
        </div>
        <div class="pt-0 p-3">
            <div class="justify-content-center d-flex pb-2">
                <h2 class="color-default fw-bold">Login</h2>
            </div>
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="form-outline mb-2">
                    <input type="email" class="form-control" asp-for="Email" />
                    <label class="form-label" asp-for="Email">Email</label>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="form-outline mb-2">
                    <input type="password" class="form-control" asp-for="Password" />
                    <label class="form-label" asp-for="Password">Password</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <p class="pb-0">
                    <a class="text-end" asp-controller="Account" asp-action="Register">Don't have an Account</a>
                </p>
                <div class="my-2">
                    <button type="submit" class="btn btn-danger btn-block">Login</button>
                </div>
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    function call(){
            Swal.fire(
                'Good job!',
                'You clicked the button!',
                'success'
            )
    }
    </script>
}
