@using WebApplication2.Models;
@model User;

<div class="container-fluid login-container">
    <div class="row justify-content-center align-items-center pt-2">
        <div class="d-flex justify-content-center align-items-center">
            <img src="~/assets/img/logo.png" loading="lazy" class="img-fluid" />
        </div>
        <div class="pt-0 p-3">
            <div class="justify-content-center d-flex pb-2">
                <h2 class="color-default fw-bold">Register</h2>
            </div>
            <form asp-action="Register" asp-controller="Account" method="post">

                <div class="form-outline mb-2">
                    <input type="text" class="form-control" asp-for="Name" />
                    <label class="form-label" asp-for="Name">Name</label>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>

                <div class="form-outline mb-2">
                    <input type="email" class="form-control" asp-for="Email" />
                    <label class="form-label" asp-for="Email">Email</label>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="form-outline mb-2">
                    <input type="password" class="form-control" asp-for="Password" />
                    <label class="form-label" asp-for="Password">Password</label>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="form-outline mb-2">
                    <input type="tel" class="form-control" asp-for="PhoneNumber" />
                    <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                <div class="mb-2">
                    <label class="form-label" asp-for="RoleId">Select Your Role</label>
                    <select class="form-control" asp-for="RoleId" asp-items="ViewBag.Roles"></select>
                </div>
                <span asp-validation-for="RoleId" class="text-danger"></span>

                <div class="my-2">
                    <button type="submit" class="btn btn-danger btn-block">Register</button>
                </div>
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </form>
        </div>
    </div>
</div>
