<h1 class="text-center bg-danger text-white">Patient Appointment Details</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end gap-2 m-3">
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger ">Reject</button>
                    </div>
                    <div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div><div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div><div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div><div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end gap-2 m-3">
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger ">Reject</button>
                    </div>
                    <div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div><div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div><div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div><div class="d-flex justify-content-around">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
