<h1 class="text-center bg-danger text-white">Patient Appointment Details</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 my-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <p class="mb-0 pt-2">
                                Appointment Date:
                                <span class="fw-bold">15-1-2023</span>
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-success">Approve</button>
                            <button class="btn btn-danger ">Reject</button>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Gender</p> <p>Male</p>
                    </div><div class="d-flex justify-content-between">
                        <p>Patient Age</p> <p>25</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Blood Group</p> <p>0+</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Email</p> <p>Hamzayousuf121@gmail.com</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Phone No</p> <p>03143212625</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Branch</p> <p>Aga Khan Karachi Branch</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Category</p> <p>Dentist</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Doctor</p> <p>Hassan Khan </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Appointment Reason</p> <p>I am feeling pain in my teeth</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Appointment Status</p> <p>Pending</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 my-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <p class="mb-0 pt-2">
                                Appointment Date:
                                <span class="fw-bold">15-1-2023</span>
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-success">Approve</button>
                            <button class="btn btn-danger ">Reject</button>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Gender</p> <p>Male</p>
                    </div><div class="d-flex justify-content-between">
                        <p>Patient Age</p> <p>25</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Blood Group</p> <p>0+</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Email</p> <p>Hamzayousuf121@gmail.com</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Phone No</p> <p>03143212625</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Branch</p> <p>Aga Khan Karachi Branch</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Category</p> <p>Dentist</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Doctor</p> <p>Hassan Khan </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Appointment Reason</p> <p>I am feeling pain in my teeth</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Appointment Status</p> <p>Pending</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 my-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <p class="mb-0 pt-2">
                                Appointment Date:
                                <span class="fw-bold">15-1-2023</span>
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-success">Approve</button>
                            <button class="btn btn-danger ">Reject</button>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Name</p> <p>Hamza Yousuf</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Gender</p> <p>Male</p>
                    </div><div class="d-flex justify-content-between">
                        <p>Patient Age</p> <p>25</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Blood Group</p> <p>0+</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Email</p> <p>Hamzayousuf121@gmail.com</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Patient Phone No</p> <p>03143212625</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Branch</p> <p>Aga Khan Karachi Branch</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Category</p> <p>Dentist</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Doctor</p> <p>Hassan Khan </p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Appointment Reason</p> <p>I am feeling pain in my teeth</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Appointment Status</p> <p>Pending</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
