html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    .login-container {
        background-color: white;
        -webkit-box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 16%);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 16%);
        border-radius: 5px;
        max-width: 100%;
        margin-top: 5%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-container {
    background-color: white;
    -webkit-box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 16%);
    border-radius: 5px;
    max-width:400px;
    margin-top:17%;
}