<div class="container">

    <h1 class="text-danger mt-3">Contact Us </h1>

    <div class="border border-bottom-3">
    </div>
    <div class="mt-3">
        <h3 class="text-dark">Aga Khan University Hospital, Karachi</h3>

        <p>Aga Khan University Hospital, Karachi</p>
        <p>Stadium Road, P.O. Box 3500</p>
        <p>Karachi 74800, Pakistan</p>
        <p>Tel: +92 21 111-911-911</p>
        <p>Fax: +92 21 3493 4294, 3493 2095</p>
        <p>Email: akuh.informationaku.edu</p>
        <h2 class="bg-danger text-white text-center">Aga Khan Karachi Google Map</h2>

        <div class="embed-responsive embed-responsive-16by9" >
            <iframe class="embed-responsive-item w-100"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14476.697852780217!2d67.074753!3d24.89203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x95854329956118e7!2sAga%20Khan%20University%20Hospital%2C%20Pakistan!5e0!3m2!1sen!2s!4v1576278476406!5m2!1sen!2s"
                    allowfullscreen
                    height="500"
                    title="This is google aga khan Map"
                    alt="This is google aga khan Map">
            </iframe>
        </div>

    </div>
</div>