@using WebApplication2.Models.ViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/homepagebanner1.jpg" class="d-block w-100" alt="Wild Landscape" />
        </div>
        <div class="carousel-item">
            <img src="/assets/img/homepagebanner2.jpg" class="d-block w-100" alt="Camera" />
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="w-100 bg-danger overviewwrapper">
    <div class="container">
        <h1 class="text-white text-center pt-5">OVERVIEW</h1>

        <h5 class="text-white pb-5">
            Aga Khan University Hospitals in Karachi, Pakistan and Nairobi, Kenya are private,
            not-for-profit institutions providing high quality health care. The Main Hospitals serve as the principal sites
            for clinical training for the University's Medical Colleges and Schools of Nursing
            and Midwifery in Pakistan and East Africa.
        </h5>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="offset-lg-2 col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h4 class="text-danger">Aga Khan University Hospital Pakistan</h4>
            <ul class="mb-5 list-group">
                @foreach (var branch in Model.branches)
                {
                 <li class="list-group-item">
                   <a href="#" class="text-dark">@branch.Name</a>
                 </li>
                }
            </ul>
        </div>
    </div>
</div>

