@using WebApplication2.Models;
@model List<Service>;

@{
    ViewData["Title"] = "Service";
}

<div class="container">
    <h1 class="text-danger Text-center mt-3">Service </h1>
    <div class="border border-bottom-3">
    </div>

    <div class="container bg-light">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var service in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="/assets/img/@service.ImageUrl" class="card-img-top" height="400" alt="Hollywood Sign on The Hill" />
                        <div class="card-body">
                            <h5 class="card-title">@service.Name</h5>
                            <p class="card-text">
                                @service.Description
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>