<div class="container">
    <div class="row">
        <h1 class="text-danger mt-3 text-center">Doctor Appointment</h1>

        <div class="offset-lg-2 col-lg-8">
            <form asp-controller="Doctor" asp-action="Appointment" method="post">
                <div class="form-outline mb-3">
                    <input type="text" class="form-control" />
                    <label class="form-label">Name</label>
                </div>
                <div class="form-outline mb-3">
                    <input type="number" class="form-control" />
                    <label class="form-label">Age</label>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">Gender</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Open this select menu</option>
                        <option value="1">Male</option>
                        <option value="1">Female</option>
                    </select>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">Blood Group</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Open this select menu</option>
                        <option value="1">0+</option>
                        <option value="1">0-</option>
                        <option value="2">A+</option>
                        <option value="2">A-</option>
                        <option value="3">B+</option>
                        <option value="3">B-</option>
                    </select>
                </div>
            
                <div class="form-outline mb-3">
                    <label class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Open this select menu</option>
                        <option value="1">Dentist</option>
                        <option value="1">Cardiologist</option>
                        <option value="2">Anaesthesia</option>
                    </select>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label">Doctor</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Open this select menu</option>
                        <option value="1">Hamza </option>
                        <option value="1">Ali</option>
                        <option value="2">Amin</option>
                    </select>
                </div>

                <div class="form-outline mb-3 mb-4">
                    <textarea class="form-control border" rows="3"></textarea>
                    <label class="form-label">Reason for Appointment</label>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">Branch</label>
                    <select class="form-select" >
                        <option>Open this select menu</option>
                        <option value="1">Available</option>
                        <option value="1">Not Available</option>
                    </select>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">City</label>
                    <select class="form-select">
                        <option>Open this select menu</option>
                        <option value="1">Available</option>
                        <option value="1">Not Available</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-block btn-danger">Submit</button>
            </form>
        </div>

    </div>
</div>

