<div class="container">
    <div class="row">
        <h1 class="text-danger mt-3 text-center">Profile</h1>
       
        <div class="offset-lg-2 col-lg-8">
            <form asp-controller="Patient" asp-action="profile" method="post">
                <div class="form-outline mb-3">
                    <input type="text" class="form-control" />
                    <label class="form-label">Name</label>
                </div>
                <div class="form-outline mb-3">
                    <input type="number" class="form-control" />
                    <label class="form-label">Age</label>
                </div>
                <label class="form-label">Upload Your Image</label>
                <div class="form-outline mb-3">
                    <input type="file" class="form-control" />
                </div>
                <div class="form-outline mb-3 mb-4">
                    <textarea class="form-control" rows="3"></textarea>
                    <label class="form-label">Adress Details</label>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">Blood Group</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Open this select menu</option>
                        <option value="1">0+</option>
                        <option value="1">0-</option>
                        <option value="2">A+</option>
                        <option value="2">A-</option>
                        <option value="3">B+</option>
                        <option value="3">B-</option>
                    </select>
                </div>
                <div class="form-outline mb-3">
                    <label class="form-label">City</label>
                    <select class="form-select" aria-label="Default select example">
                        <option>Open this select menu</option>
                        <option value="1">Karachi</option>
                        <option value="1">Lahore</option>
                        <option value="2">Islamabad</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-block btn-danger">Submit</button>
            </form>
        </div>
       
    </div>
</div>

